<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Name Generator</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<p class="label"> Error Occurred! </p>
</body>
</html>