<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Name Generator</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" type="text/javascript"> </script>
    <script type='text/javascript'>
        function hashCode(){
          var hash = 0, i, chr, len;
          if (this.length == 0) return hash;
          for (i = 0, len = this.length; i < len; i++) {
            chr   = this.charCodeAt(i);
            hash  = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
          }
          return hash;
        };
        window.onload = function(){
            let chatbot_usernames = [
                "@v1_reflective_learning_bot",
                "@v3_reflective_learning_bot"
            ];
            let followerName = <%-JSON.stringify(followerName) %>;
            let username_idx = hashCode(followerName) % chatbot_usernames.length;

            $("#botuser").text(chatbot_usernames[username_idx])

        }

    </script>
</head>
<body>
<h1> Team Name Generator (3/3)</h1>

<div id="main">
<!--
<div id="topThird">
<div id="instructionsLeftPad">
</div>
-->
<div id="instructions">
<p id="leaderTeamInstructions" class="text">Finally, before we move on to the instructions on how to start the experiment, here is a reminder of the team name that you have to use as the employee. Remember to use this team name when the chatbot asks you for it so that you can identify yourself as a member of your team!
</p>
<div id="leaderDiv">
<p id="leaderTeamLabel" class="label">Team Name:</p>
<p id="leaderTeamName" class="name"><%= followerName %></p>
</div>
If you have any questions, you can email Srinidhi at <a href="mailto:srinidhi.srinivas@tuebingen.mpg.de" target="_blank">srinidhi.srinivas@tuebingen.mpg.de<a>, or reach him on Telegram at the username <b>@rlchatbotsupport</b>!
<br><br>
<h3> How to Connect to the Chatbot </h3>

<b>Step 1:</b> If you don’t have it already, download the application Telegram on your device of choice. To do so, go to <a href="https://telegram.org/apps" target="_blank">https://telegram.org/apps</a> and then click the appropriate link for your device under “Telegram Applications”
<br><br>
(NOTE: Use either the Telegram mobile or desktop application to interact with the chatbot. <b>Do not use Telegram in your web browser!</b>)
<br><br>
<b>Step 2:</b> If you don’t have an account already, open the app and follow the instructions to create one.
<br><br>
<b>Step 3:</b> Start a chat with the username <a id="botuser"></a> (note the underscores between the words)
<br><br>
If you are on a mobile device, you can do this by clicking the blue circle with the pencil icon in the bottom-right corner of the main chat screen, and searching the above username by clicking the magnifying glass icon in the top right (see screenshots below if necessary.)
<br><br>
<b>Step 4:</b> The rest of the instructions will be given to you by the chatbot! Follow the instructions for setup: this includes entering your language (English or German), timezone, and the times at which you want to receive messages from the chatbot in the morning and evening. The chatbot will also ask you for the team name that you received on the previous page(s).
<br><br>
In case you make a mistake during the setup phase (time zone, etc.) of the chatbot, you can start over by sending the command “/delete_me” (without quotes) and then the command “/start” (without quotes) again. <b>This can only be done in the setup phase.</b>
<br><br>

<div class="imgrow">
  <div class="imgcolumn" id="mob">
    <p class="imgcaption"> Start Chat - Mobile </p>
    <img src="/telmob2.jpeg" id="imgmob">
  </div>
  <div class="imgcolumn" id="des">
    <p class="imgcaption"> Start Chat - Desktop </p>
    <img src="/teldes.jpg" style="width:100%;">

  </div>
</div>
</div>

</div>
<div id="continueDiv">
<p id="continue"> You may close this page when you have successfully set up the chatbot.</p>
</div>

</body>
</html>