<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Name Generator</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main">
<div id="instructions">
<p id="leaderTeamInstructions" class="text">Below is the team name that you must enter when the chatbot asks you for your team name. Save this by copying it down correctly or taking a screenshot.
<br> <br>
If there are any questions, message the experimenter via Prolific</p>
</div>
<div id="leaderDiv">
<p id="leaderTeamLabel" class="label">Team Name:</p>
<p id="leaderTeamName" class="name"><%= followerName %></p>
</div>
<div id="followerDiv">
</div>
</div>
</body>
</html>