<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Name Generator</title>
</head>
<body>
<p id="leaderTeamLabel">Leader Team Name:</p>
<p id="leaderTeamName"><%= leaderName %></p>
<p id="followerTeamLabel">Follower Team Name:</p>
<p id="followerTeamName"><%= followerName %></p>
</body>
</html>