body {
    background-color: #d8f9ff;
    align-content: center;
}
#main{
    position: relative;
    height: 100%;
    width: 70%;
    margin-left: 15%;
    background-color: white;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#instructions {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Helvetica Neue";
    font-size: large;
}

.team-name-text {
    font-weight: bold
}

.url {
    color: blue;
    text-underline: blue;
}

.template {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Helvetica Neue";
    font-size: large;
}
#leaderDiv {
    position: relative;
    height: 15%;
    font-family: "Helvetica Neue";
    font-size: x-large;
    text-align: center;
}
#followerDiv {
    position: relative;
    height: 15%;
    font-family: "Helvetica Neue";
    font-size: x-large;
    text-align: center;

}
#botuser {
    font-weight: bold;
}

.imgcaption {
    text-align: center;
    width: 100%;
    color: #01579b;
    font-weight: bold;
}

#imgmob{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

.imgcolumn#mob {
    float: left;
    width: 48%;
    padding: 1px;
    align-content: center;

}
.imgcolumn#des {
    float: right;
    width: 48%;
    padding: 1px;
}
.imgrow::after {
    content: "";
    clear: both;
    display: table;
    align-content: center;
}
#continueDiv {
    position: relative;
    font-family: "Helvetica Neue";
    font-size: large;
    text-align: center;

}

.label {
    font-weight: bold;
    align-content: center;
    color: #01579b;
}
h1 {
    font-family: "Helvetica Neue";
    text-align: center;
    font-weight: bold;
    align-content: center;
    color: #01579b;
}

.navigate-button {
    background-color: #01579b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navigate-button:hover {
    background-color: white; /* Green */
    border: none;
    color: #01579b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.name {
    align-content: center;
}

.text {
    align-content: center;
}